.container {
  height: calc(100vh - 150px);
  overflow-y: auto;
  padding: 0 60px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;

}

:global(.ant-card-meta-title),
:global(.ant-card-meta-description) {
  white-space: normal !important;
}

.rate {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
